/* 
.sidebar{

    margin: auto ;
    margin-left:80% !important;
    width: 100%;    
} */


.dd {
  margin-right: 20% !important;
}


.btn {
  background-color: rgb(41 66 146);
  border-radius: 2%;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #fff;

}


.sidebar {
  flex: 9;

  margin: auto;
  /* margin-right:10% !important; */

  width: 100%;
}



.label {
  margin-right: 10px;
  font-size: 23px;
  font-weight: 500;
  color: #2a2185;

}

.input {
  background-color: #eee !important;
  padding: 10px;
  margin: 10px;
  width: 80% !important;
}

.button {
  display: none;
  color: #fff;
  padding: 10px;
}

.btn {
  background-color: rgb(41 66 146);
  border-radius: 5%;
  border: none;
  width: 250px;
  height: 65px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;

}

.forget {
  font-size: 22px;
  color: #fff !important;
  text-decoration: none !important;
  list-style: none !important;
}

.btn:hover {
  scale: 1.1;
}


.row {
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 350px) and (max-width: 561px) {
  .button {
    display: block;
  }

  .PersonSideBar {
    display: none;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .number p {
    color: #2bc81d !important;
    font-size: 12px !important;
  }

  .navbar_nav li {
    width: 150% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -140%;
  }

  .message {
    margin-right: -25% !important;
  }

  .mainLogo {
    width: 200% !important;
  }
}


@media screen and (min-width: 150px) and (max-width: 670px) {
  .button {
    display: block;
  }

  .PersonSideBar {
    display: none;
  }

  .row {
    display: flex;
    justify-content: start;
  }

  .sidebar {

    margin: auto;
    width: 100%;
  }

  .btn {
    margin-right: 15%;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .button {
    display: block;
  }

  .PersonSideBar {
    display: none;
  }

  .sidebar {
    margin: auto;
    width: 100% !important;
  }

  .input {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 150% !important;
    /* background-color: #2bc81d !important; */
  }

  .btn {
    margin-right: 15%;
    /* background-color: #ff0000 !important; */
  }

  .row {
    display: flex;
    justify-content: start;
  }

}


/* @media screen and (min-width: 575px) and (max-width: 768px) {
  .button {
    display: block;
  }

  .PersonSideBar {
    display: none;
  }

  .sidebar {
    margin: auto;
    width: 100% !important;
  }

  .row {
    display: flex;
    justify-content: flex-start;
  }

  .input {
    background-color: #eee !important;
    padding: 10px;
    margin: 10px;
    width: 90% !important;
  }
}

@media screen and (min-width: 560px) and (max-width: 601px) {
  .button {
    display: block;
  }

  .PersonSideBar {
    display: none;
  }

  .sidebar {

    margin: auto;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: start;
  }

  .input {
    background-color: #eee !important;
    padding: 10px;
    margin: 10px;
    width: 90% !important;
  }
}

.button {
  display: none;
}

@media screen and (min-width: 576px) and (max-width: 600px) {

  .input {
    display: block;
    justify-content: start;
    align-items: start;
    margin: auto;
    width: 100% !important;
    right: 50% !important;
  }

  .button {
    display: block;
  }

  .PersonSideBar {
    display: none;
  }

  .form_block {
    margin: auto;
    width: 100%;
  }

  .sidebar {
    margin: auto;
    width: 100%;
  }
} */